code, .code {
    font-family: monospace;
    font-size: 0.9em
}

.katex-display>.katex>.katex-html {
    font-size: medium;
}

body{
  font-size: 14pt;
  text-align: justify;
}


.f-5-l, .f-subheadline-l {
    font-size: 3rem;
}

.fw5-ns {
    font-weight: bold;
}

.flex-l.items-center{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}



     
.f4, .post-body h4, .page-body h4 {
    font-size: 1.25rem;
    text-align: justify;
}

div.datatables {
    font-size: medium;
    font-family: Monospace;
}



.post-body>.footnotes {
    font-size: 1rem;
}

.post-body>.footnotes ol {
    line-height: 1;
}

pre code span {
    color: #414a37;
}

.dib {
    margin-left: inherit;
}

.bg-custom-sidebar-bg-color, .about-sidebar, .home .action.button, .page-sidebar .ad-unit, .page-sidebar {
    background-color: #e8d9db3d;
}

img.mv0.w-70-m{
    border-radius: 20%;
}


h5.f-subheadline.f4.fw2.ttu.tracked{
    text-align: left;
}

img.h4.w4.dib.br-100{
    border-radius: 20%;
    height: 15rem;
    width: 15rem;
}
        
[src="/blog/2023-03-02-customer-segmentation/index_files/figure-html/unnamed-chunk-5-1.png"] {
    width: 80%;
}


[src="img/crisp-dm.png"] {
    width: 50%;
    display: block;
    margin: auto;
}

[src="/blog/2023-04-03-market-basket/index_files/figure-html/unnamed-chunk-5-1.png"] {
    width: 70%;
    display: block;
    margin: auto;
}


[src="/blog/2023-04-03-market-basket/index_files/figure-html/unnamed-chunk-6-1.png" ] {
    width: 70%;
    display: block;
    margin: auto;
}

[src="/blog/2023-04-03-market-basket/index_files/figure-html/unnamed-chunk-7-1.png"] {
    width: 70%;
    display: block;
    margin: auto;
}

[src="/blog/2023-04-03-market-basket/index_files/figure-html/unnamed-chunk-8-1.png" ] {
    width: 70%;
    display: block;
    margin: auto;
}

[src="/blog/2023-04-03-market-basket/index_files/figure-html/unnamed-chunk-17-1.png" ] {
    width: 80%;
    display: block;
    margin: auto;
}

[src="/blog/2023-04-03-market-basket/index_files/figure-html/unnamed-chunk-18-1.png" ] {
    width: 80%;
    display: block;
    margin: auto;
}


/* Customer segmentation */

[src="img/umap.jpg"] {
    width: 90%;
}

[src="/blog/2023-03-02-customer-segmentation/index_files/figure-html/unnamed-chunk-5-1.png"] {
    width: 70%;
}

[src="/blog/2023-03-02-customer-segmentation/index_files/figure-html/unnamed-chunk-5-2.png"] {
    width: 70%;
}

[src="/blog/2023-03-02-customer-segmentation/index_files/figure-html/unnamed-chunk-5-3.png"] {
    width: 70%;
}

[src="/blog/2023-03-02-customer-segmentation/index_files/figure-html/unnamed-chunk-6-1.png"]  {
    width: 70%;
}

[src="/blog/2023-03-02-customer-segmentation/index_files/figure-html/unnamed-chunk-6-2.png" ]  {
    width: 70%;
}

[src="/blog/2023-03-02-customer-segmentation/index_files/figure-html/unnamed-chunk-6-3.png" ]  {
    width: 70%;
}

[src="/blog/2023-03-02-customer-segmentation/index_files/figure-html/unnamed-chunk-8-1.png" ]  {
    width: 70%;
}


