code, .code {
    font-family: monospace;
    font-size: 0.9em
}

.katex-display>.katex>.katex-html {
    font-size: medium;
}

body{
  font-size: 14pt;
  text-align: justify;
}


.f-5-l, .f-subheadline-l {
    font-size: 3rem;
}

.fw5-ns {
    font-weight: bold;
}

.flex-l.items-center{
    margin-left: 10rem;
    margin-right: 10rem;
    text-align: left;
}


     
.f4, .post-body h4, .page-body h4 {
    font-size: 1.25rem;
    text-align: justify;
}

div.datatables {
    font-size: medium;
    font-family: Monospace;
}



.post-body>.footnotes {
    font-size: 1rem;
}

.post-body>.footnotes ol {
    line-height: 1;
}

pre code span {
    color: #414a37;
}

.dib {
    margin-left: inherit;
}

.bg-custom-sidebar-bg-color, .about-sidebar, .home .action.button, .page-sidebar .ad-unit, .page-sidebar {
    background-color: #e8d9db3d;
}

img.mv0.w-70-m{
    border-radius: 20%;
}

img.h4.w4.dib{
    width: 15rem;
    height: 15rem;
}
        

[src="/project/2023-04-03-market-basket/index_files/figure-html/unnamed-chunk-5-1.png"] {
    max-width: 80%;
}

[src="/project/2023-04-03-market-basket/index_files/figure-html/unnamed-chunk-6-1.png"] {
    max-width: 80%;
}

[src="/project/2023-04-03-market-basket/index_files/figure-html/unnamed-chunk-7-1.png"] {
    max-width: 80%;
}

[src="/project/2023-04-03-market-basket/index_files/figure-html/unnamed-chunk-8-1.png"] {
    max-width: 80%;
}

/* Customer segmentation */

[src="img/mall.jpg"] {
    max-width: 40%;
}

[src="/project/2023-03-02-customer-segmentation/index_files/figure-html/unnamed-chunk-5-1.png"] {
    max-width: 70%;
}

[src="/project/2023-03-02-customer-segmentation/index_files/figure-html/unnamed-chunk-5-2.png"] {
    max-width: 70%;
}

[src="/project/2023-03-02-customer-segmentation/index_files/figure-html/unnamed-chunk-5-3.png"] {
    max-width: 70%;
}

[src="/project/2023-03-02-customer-segmentation/index_files/figure-html/unnamed-chunk-6-1.png"] {
    max-width: 70%;
}

[src="/project/2023-03-02-customer-segmentation/index_files/figure-html/unnamed-chunk-6-2.png"] {
    max-width: 70%;
}

[src="/project/2023-03-02-customer-segmentation/index_files/figure-html/unnamed-chunk-6-3.png"] {
    max-width: 70%;
}

[src="/project/2023-03-02-customer-segmentation/index_files/figure-html/unnamed-chunk-8-1.png"] {
    max-width: 70%;
}

